body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1484542603127-984f4f7d14cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=965&q=80);
    background-size: cover;
}

h2 { 
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 80px;
    text-align: center;
}
 
.clock{
    display: flex;
}


.clock div{
    margin: 5px;
}


.clock span{
    width: 100px;
    height: 80px; 
    background: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
} 

.clock .text{
    height: 30px;
    font-size:10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background:#24ac15;
    margin-bottom: 150px;
} 

/* .clock #ampm {
    bottom: 1;
    position:absolute;
    width:50px;
    height:30px;
    font-size:18px;
    background:green;
} */


#ampm{
    margin-top:4px;
    background-color: yellow;
    color: rgb(228, 16, 140);
    font-size: x-large;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d7/Horlo%C4%9Do_001.svg);
    background-size: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
}


/* .clock #ampm {
    margin-top:80px;
    /* background:green; 
} */



